<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="D:/Documents for Study/Automation class/JavaPrograms/APIAutomationRAFramework5X">
        <classes>
            <class name="org.example.tests.CreateBooking">
                <methods>
                    <include name="postCreateBooking"/>
                </methods>
            </class>
            <class name="org.example.tests.Integration.Integration001">
                <methods>
                    <include name="createBooking"/>
                    <include name="testVerifyBookingId"/>
                </methods>
            </class>
            <class name="org.example.tests.Integration.Integration002">
                <methods>
                    <include name="getToken"/>
                    <include name="CreateBooking"/>
                    <include name="updateBooking"/>
                    <include name="deleteBooking"/>
                    <include name="verifyBooking"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>